[submodule "import-parser"]
	path = import-parser
	url = git@github.com:cbn-alpin/geonature-import-parser.git
[submodule "sinp-shared-data"]
	path = sinp-shared-data
	url = git@github.com:cbn-alpin/sinp-shared-data.git
